<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>CocoaPods Master Repo</title>
    <meta content="Fabio Angelo Pelosin" name="author">
    <meta content="The CocoaPods Master Repo" name="description">
    <meta content="CocoaPods Master Repo" property="og:title">
    <meta content="http://feeds.cocoapods.org" property="og:url">

    <link rel="stylesheet" href="screen.css" media="screen" type="text/css" charset="utf-8" >
    <link rel="stylesheet" href="vendor/rickshaw/rickshaw.min.css" type="text/css" charset="utf-8" >
    <link rel="stylesheet" href="vendor/FortAwesome/css/font-awesome.min.css" type="text/css" charset="utf-8" >

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="vendor/rickshaw/vendor/d3.min.js"></script>
    <script src="vendor/rickshaw/vendor/d3.layout.min.js"></script>
    <script src="vendor/rickshaw/rickshaw.min.js"></script>
    <script src="vendor/rickshaw/src/js/Rickshaw.Graph.Axis.Time.js"></script>
    <script src="vendor/rickshaw/src/js/Rickshaw.Graph.Axis.Y.js"></script>
    <script src="vendor/rickshaw/src/js/Rickshaw.Fixtures.Time.js"></script>
</head>

<body>
  <div role="container">
    <header>
      <hgroup>
      <h1>CocoaPods<br>Master Repo</h1>
      </hgroup>
    </header>



    <section id="actions">
    <div class="step-0">
      <p><i class="icon-twitter icon-4x"></i><br> Follow on Twitter</p>
    </div>

    <div class="step-1">
      <p><i class="icon-rss icon-4x"></i><br> Get the feed</p>
    </div>

    <div class="step-2">
      <p><i class="icon-github icon-4x"></i><br> See the Octocat</p>
    </div>
    </section>


    <section id="actions">
      <p>Counting 1024 Pods since September 2011</p>
    </section>


    <h2>Stats</h2>
    <div id="chart_contianer">
      <div id="y_axis"></div>
      <div id="chart"></div>

      <h3>Metrics:</h3>
      <div class="row">
        <div class="span3">
          <h4>Total Count</h4>
          <p> pods</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p class="note">Updated on <%= Time.now.strftime("%Y-%m-%d") %></p>
      </div>
    </div>
  </div>


  <script>
    serie_data = <%= graph_data_json %>;

    var graph = new Rickshaw.Graph( {
      element  : document.querySelector("#chart"),
      width    : 940 - 20,
      height   : 300,
      renderer : 'line',
      timeBase: new Date().getTime() / 100000,
      interpolation : "basis",
      padding  : {
        top: 0.05,
        bottom: 0.05,
        left: 0.0,
        right: 0.01
      },
      series   : [
      {
        name   : "Pods count",
        color  : '#E6A33C',
        data   : serie_data,
      }]
    });


    var hoverDetail = new Rickshaw.Graph.HoverDetail( { graph: graph, yFormatter: Rickshaw.Fixtures.Number.formatKMBT } );
    var xAxis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
    var y_axis = new Rickshaw.Graph.Axis.Y( {
      graph: graph,
      orientation: 'left',
      tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
      element: document.getElementById('y_axis'),
    } );

    graph.render();
  </script>
</body>
